<mat-card>
  <div class="container">
    <h1>Vagas Disponíveis</h1>
    <table mat-table [dataSource]="parkingspaceempty" class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Número da Vaga</th>
        <td mat-cell *matCellDef="let parkingspaceempty">{{ parkingspaceempty.id }}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator class="mat-elevation-z8"
    [length]="25"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25]"
    #paginator showFirstLastButtons 
    aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</mat-card>
